<!doctype html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NoAccess</title>
    <style>
        *{
            padding:0;
            margin:0;

        }
        body{
            text-align: center;
            color:red;
        }
        h1{
            margin-top: 50px;
        }
        h3{
            marginTop:50px;
            color:black;
        }
    </style>
</head>
<body>
 <h1>访问该网页失败！</h1>
<h3>Unable to visited this webPage. You do not have access or access has been denied.<a href="/login" target="_self">去登陆</a></h3>
</body>
</html>